@import '../../../common/sass/variables';

.info {
  color: $textSecondColor;
  display: flex;
  align-items: center;

  .infoTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 15px;
  }

  .infoData {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $textSecondColor;
    margin: 0;
  }
}





