@import '../../../common/sass/variables';

.skill {
  color: $textSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 290px;
  text-align: center;
  margin-top: 2%;
  border: 1px solid $borderColor;

  .icon {
    width: 70px;
    height: 70px;
    //background-color: #ffc107;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .skillTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
  }

  .line {
    width: 50px;
    margin: 15px auto;
    border: 0;
    border-top: 2px solid #eee;
  }

  .s.description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $textSecondColor;
    margin: 0;
  }
}







