@import '../../common/sass/variables';

.worksBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;
  padding-bottom: 50px;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .works {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .title {
        background-color: $lineAndBorderColor;
      }
    }
  }
  @media screen and (max-width: 1124px) {
    min-height: 0;
  }
}