@import 'src/common/sass/variables';
@import 'src/common/sass/mixins';

.title {
  margin: 0 0 60px;
  position: relative;

  & h2 {
    @include fonts ($fontTitle, 32px, 700);
    color: $textColor;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  & ::after {
    content: "";
    position: absolute;
    width: 44px;
    background: $lineAndBorderColor;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  & ::before {
    content: "";
    position: absolute;
    width: 77px;
    background: $lineAndBorderColor;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}