.title {
    margin: 0 0 15px;
    position: relative;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
}

.title::after {
    content: "";
    position: absolute;
    width: 44px;
    background: #bcbcbc;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title::before {
    content: "";
    position: absolute;
    width: 77px;
    background: #bcbcbc;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 50%);
}