@import '../../common/sass/variables';
@import '../../common/sass/mixins';

.contactsContainer {
  width: 100%;
  background-color: $bgSecondColor;
  justify-content: center;
  flex-wrap: wrap;

  .contactsBlock {
    flex-direction: column;
    display: flex;
    height: 73vh;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;


    .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 70%;
      height: 70%;

      & input, & textarea {
        width: 35%;
        @media screen and (max-width: 1024px) {
          width: 80%;
        }
      }
    }

    .infoWrapper {
      padding-right: 15%;
      padding-top: 5%;

      .line {
        @include line();
      }

      .icon {
        border: 1px solid $lineAndBorderColor;
        border-radius: 50%;
        float: left;
        font-size: 26px;
        height: 47px;
        line-height: 47px;
        margin-right: 12px;
        margin-top: 18px;
        text-align: center;
        width: 47px;
        color: $lineAndBorderColor;
      }
    }

    .form {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 70px;
      padding-left: 80px;

      .emailRow {
        width: 80%;
        display: flex;
        flex-direction: row;

        .nameCover {
          width: 45%;
          padding-right: 15px;

          .name {
            @include fonts($fontText, 14px, 400);
            width: 100%;
            line-height: 26px;
            border: none;
            border-bottom: 1px solid $lineAndBorderColor;
            padding: 5px 0;
          }
          @media screen and (max-width: 1029px) {
           padding-right: 0;
            width: 100%;
          }
        }

        .emailCover {
          width: 45%;
          padding-right: 10px;

          .email {
            @include fonts($fontText, 14px, 400);
            width: 96%;
            line-height: 26px;
            color: $textColor;
            border: none;
            border-bottom: 1px solid $lineAndBorderColor;
            padding: 5px 0;
            @media screen and (max-width: 1029px) {
              width: 100%;
            }
          }
          @media screen and (max-width: 1029px) {
            padding-right: 0;
            width: 100%;
          }
        }

        @media screen and (max-width: 1029px) {
          display: flex;
          flex-direction: column;
        }
      }

      .areaCover {
        padding-top: 40px;
        width: 90%;
        height: 50%;

        .area {
          padding-top: 5px;
          padding-left: 30px;
          width: 77%;
          height: 90%;
          resize: none;
          border-color: $lineAndBorderColor;
          @include fonts($fontText, 14px, 400);

          @media screen and (max-width: 1029px) {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 1029px) {
        padding-top: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;
        width: 100%;
      }
    }

    @media screen and (max-width: 1029px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 70%;
    }
  }

  @media screen and (max-width: 1029px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}



