@import '../../common/sass/variables';
@import '../../common/sass/mixins';


.remoteContainer {
  background-color: $bgColor;
  width: 100%;

  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;

    .content {
      justify-content: space-around;

      & h3 {
        @include fonts($fontText, 18px, 500);
        line-height: 24px;
        color: $textSecondColor;
      }
    }
  }
}