$textColor: #414141;
$textSecondColor: #757575;
$bgColor: #f5f5f5;
$bgSecondColor: #ffffff;
$buttonColor: #393939;
$lineAndBorderColor: #bcbcbc;
$hoverColor: #ffd200;
$fontTitle: 'Montserrat', sans-serif;
$fontText: 'Poppins', sans-serif;