.skillsBlock {
    min-height: 100vh;
    background-color: #c99def;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgray;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
}