@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';

* {
  margin: 0;
  padding: 0;
}

.informationBlock {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .containerInfo {
    max-width: 1200px;
    width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .infoWrapper {
      align-self: stretch;
      display: flex;
      justify-content: space-between;


      .presentation {
        @include fonts($fontText, 16px, 400);
        line-height: 24px;
        color: $textSecondColor;
        max-width: 50%;
        flex-wrap: wrap;

        & h2 {
          @include fonts($fontTitle, 22px, 600);
          color: $textColor;
          letter-spacing: 1px;
          text-transform: capitalize;
          flex-wrap: wrap;
        }

        & p {
          padding: 27px 0;
        }

        @media screen and (max-width: 1029px) {
          width: 100%;
        }
      }

      .column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0;

        .line {
          @include line;
        }

        @media screen and (max-width: 680px) {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }

      @media screen and (max-width: 1029px) {
        align-self: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 2%;
      }
    }
  }

  .containerModal {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    background-color: $bgSecondColor;

    .closeBtn {
      z-index: 100;
      position: absolute;
      right: 30px;
      top: 30px;
      border: 2px solid $buttonColor;
      border-radius: 15%;
      width: 25px;
      height: 25px;
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        transition: ease 0.4s;
        background-size: 25px;
        border: none;
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }
}