.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    text-align: center;
    background-color: brown;
}

.img {
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: bisque;
}