@import '../../common/sass/variables';
@import '../../common/sass/mixins';


.welcomeBlock {
  height: 100vh;
  background-color: $bgColor;

  .presentation {
    @include fonts($fontText, 16px, 400);
    width: 550px;
    line-height: 24px;
    color: $textSecondColor;

    & h5 {
      @include fonts($fontText, 16px, 400);
      color: $textSecondColor;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    & h1 {
      @include fonts($fontTitle, 44px, 700);
      color: $textColor;
      line-height: 28px;
      text-transform: uppercase;
    }

    & h5 & h1 {
      margin: 0 0 15px;
    }
  }

  .photo {
    background-color: $hoverColor;
    width: 300px;
    height: 400px;
  }

  @media screen and (max-width: 749px) {
    justify-content: center;
  }
}