@import '../../common/sass/variables';

.worksBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .works {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .title {
        background-color: $lineAndBorderColor;
      }
    }
  }
  @media screen and (max-width: 1124px) {
    min-height: 0;
  }
}