@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';

* {
  margin: 0;
  padding: 0;
}

.info {
  color: $textColor;
  display: flex;

  .infoTitle {
    @include fonts($fontTitle, 20px, 600);
    color: $textColor;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 0 15px;
  }

  .infoData {
    @include fonts($fontText, 16px, 400);
    line-height: 28px;
    color: $textSecondColor;
  }
}