@import 'src/common/sass/variables';
@import 'src/common/sass/mixins';

.cover {
  button {
    @include fonts($fontTitle, 14px, 600);
    background-color: $buttonColor;
    position: relative;
    width: max-content;
    border: 0 none;
    overflow: hidden;
    border-radius: 5px;
    height: 47px;
    line-height: 50px;
    padding: 0 30px;
    color: $bgSecondColor;
    cursor: pointer;
    transition: 0.8s;
    text-transform: uppercase;

    &:hover {
      transition: ease 0.4s;
      font-size: 16px;
      background-color: $hoverColor;
      color: $buttonColor;
      box-shadow: 0 0 7px $buttonColor;
    }
  }

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}