.cover {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 3%;
}

.cover button {
    background-color: #393939;
    border: 0 none;
    border-radius: 5px;
    font-size: 14px;
    height: 47px;
    line-height: 50px;
    padding: 0 30px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}